<head>
    <title>Log File Selector </title>
    <h1>Log File Selector </h1>
</head>

<body>

    <h2>In accordance with the requirements of the 12 Factor App a logging file has been provided and its link <br> exposed for the assessor's perusal</h2>
    <h3>
        <a href="../logs/params.json">For Log File containing historical values or margins, exchange rate, type and prices click here</a>
    </h3>

    <h3>
        <a href="../logs/app.log">For Log File Containing Details on who visited the API and when click here</a>
    </h3>


</body>